<fieldset class="filter-fieldset" [formGroup]="form">
  <legend>Metadato Custom</legend>

  <div class="form-row custom-meta-row">
    <div class="form-group">
      <label for="meta-field">Chiave</label>
      <input
        type="text"
        id="meta-field"
        formControlName="field"
        [attr.aria-invalid]="!!getError('field')"
      />
      <div *ngIf="getError('field') as err" class="validation-error">
        {{ err.message }}
      </div>
    </div>

    <div class="form-group">
      <label for="meta-value">Valore</label>
      <input
        type="text"
        id="meta-value"
        formControlName="value"
        [attr.aria-invalid]="!!getError('value')"
      />
      <div *ngIf="getError('value') as err" class="validation-error">
        {{ err.message }}
      </div>
    </div>
  </div>
</fieldset>
