<div class="common-filters-container" [formGroup]="form">
  
  <details class="filter-accordion" closed>
    <summary>Dati Generali</summary>

    <div class="accordion-content">
      <div class="form-row">
        <div class="form-group">
          <label for="tipoDoc">Tipo Documento</label>
          <select id="tipoDoc" formControlName="tipoDocumento">
            <option [ngValue]="null">Tutti i tipi</option>
            <option *ngFor="let t of documentTypes" [ngValue]="t">{{ t }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="anniConservazione">Anni di Conservazione (9999 = Perenne)</label>
          <input id="anniConservazione" type="number" formControlName="valore" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="noteFilter">Note</label>
          <input id="noteFilter" type="text" formControlName="note" />
        </div>
      </div>
    </div>
  </details>

  <details class="filter-accordion" closed>
    <summary>Chiave Descrittiva</summary>

    <div formGroupName="chiaveDescrittiva" class="accordion-content">
      <div class="form-row">
        <div class="form-group">
          <label for="oggettoFilter">Oggetto</label>
          <input
            id="oggettoFilter"
            type="text"
            formControlName="oggetto"
            [attr.aria-invalid]="!!getError('chiaveDescrittiva.oggetto')"
          />
          <div *ngIf="getError('chiaveDescrittiva.oggetto') as err" class="validation-error">
            {{ err.message }}
          </div>
        </div>
        <div class="form-group">
          <label for="paroleChiaveFilter">Parole Chiave</label>
          <input id="paroleChiaveFilter" type="text" formControlName="paroleChiave" />
        </div>
      </div>
    </div>
  </details>

  <details class="filter-accordion" closed>
    <summary>Classificazione</summary>

    <div formGroupName="classificazione" class="accordion-content">
      <div class="form-row">
        <div class="form-group">
          <label for="codiceClass">Codice Classificazione</label>
          <input
            id="codiceClass"
            type="text"
            formControlName="codice"
            [attr.aria-invalid]="!!getError('classificazione.codice')"
          />
          <div *ngIf="getError('classificazione.codice') as err" class="validation-error">
            {{ err.message }}
          </div>
        </div>
        <div class="form-group">
          <label for="descrizioneClass">Descrizione</label>
          <input id="descrizioneClass" type="text" formControlName="descrizione" />
        </div>
      </div>
    </div>
  </details>
  
</div>