<div class="search-bar-container">
  <form [formGroup]="form" class="search-form" (ngSubmit)="onSubmit()">
    
    <div class="search-input-group">
      <input
        type="text"
        formControlName="text"
        placeholder="Inserisci testo di ricerca..."
        class="search-input"
        [attr.aria-busy]="isSearching"
      />
      
      @if (isSearching) {
        <span class="loading-spinner" aria-live="polite">
          Ricerca...
        </span>
      }

      <button type="submit" class="btn-search"  >
        🔍 Cerca
      </button>
    </div>

    <div class="search-options">
      <label>
        <input type="radio" formControlName="type" [value]="QueryType.FREE" />
        Testo Libero
      </label>

      <label [style.opacity]="isSemanticForced ? '0.5' : '1'" [style.cursor]="isSemanticForced ? 'not-allowed' : 'pointer'">
        <input type="radio" formControlName="type" [value]="QueryType.CLASS_NAME" [attr.disabled]="isSemanticForced ? true : null"/>
        Nome Classe
      </label>

      <label [style.opacity]="isSemanticForced ? '0.5' : '1'" [style.cursor]="isSemanticForced ? 'not-allowed' : 'pointer'">
        <input type="radio" formControlName="type" [value]="QueryType.PROCESS_ID" [attr.disabled]="isSemanticForced ? true : null"/>
        ID Processo
      </label>

      <div class="divider"></div>

      <label class="semantic-toggle">
        <input type="checkbox" formControlName="useSemanticSearch" />
        Ricerca Semantica
      </label>
    </div>
    
  </form>
</div>